@model IEnumerable<AttendanceCRM.Models.Entities.AttendanceEntitie>

<thead class="thead-light">
    <tr>
        <th>SNo</th>
        <th>Date</th>
        <th>Punch In</th>
        <th>Punch Out</th>
        <th>Late</th>
        <th>Status</th>
    </tr>
</thead>
<tbody>
    @{
        // Sort the model by user name alphabetically
        var sortedModel = Model.OrderBy(x => x.CreatedOn).ToList();
        int rCnt = ((ViewBag.CurrentPage - 1) * ViewBag.PageSize) + 1;
    }
    @foreach (var record in sortedModel)
    {
        <tr>
            <td>
                @(rCnt++)
            </td>
            <td>
                <a href="#" class="punch-details-link"
                   data-userid="@record.UserId"
                   data-date="@record.CreatedOn?.ToString("yyyy-MM-dd")"
                   style="color: blue; text-decoration: underline;">
                    @(record.CreatedOn?.ToString("dd-MM-yyyy") ?? "-")
                </a>
            </td>



            <td>@record.PunchInTime?.ToString("hh:mm tt")</td>
            <td>@record.PunchOutTime?.ToString("hh:mm tt")</td>
            <td>
                @(record.GracePeriodTime >= 60
                    ? (record.GracePeriodTime / 60) + " hr" + (record.GracePeriodTime >= 120 ? "s" : "")
                    : record.GracePeriodTime + " mins")
            </td>


            @*  <td>@(record.PunchInTime.HasValue ? "Present" : "Leave")</td> *@
            <td>@(record.Status)</td>




        </tr>
    }
</tbody>
