@model List<AttendanceCRM.Models.DTOS.AttendanceViewModel>

@foreach (var record in Model)
{
    <tr>
        <td>@record.UserId</td>
        <td>
            <a href="#" class="employee-link"
               data-userid="@record.UserId"
               data-username="@record.UserName">
                @record.UserName
            </a>
        </td>
        <td>@record.Designation</td>
        <td>@record.Email</td>
</tr>
}
