 @model AttendanceCRM.Models.DTOS.ResetPasswordFinal
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<meta name="description" content="Guardians Hrms">
	<meta name="keywords" content="admin, estimates, bootstrap, business, html5, responsive, Projects">
	<meta name="author" content="Dreams technologies - Bootstrap Admin Template">
	<meta name="robots" content="noindex, nofollow">
	<title>Guardians Hrms</title>

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" src="~/Resources/assets/img/logo.jpg">
  

	<!-- Apple Touch Icon -->
	<link rel="apple-touch-icon" sizes="180x180" href="../Resources/assets/img/apple-touch-icon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="../Resources/assets/css/bootstrap.min.css">

	<!-- Feather CSS -->
	<link rel="stylesheet" href="../Resources/assets/plugins/icons/feather/feather.css">

	<!-- Tabler Icon CSS -->
	<link rel="stylesheet" href="../Resources/assets/plugins/tabler-icons/tabler-icons.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="../Resources/assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="../Resources/assets/plugins/fontawesome/css/all.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="../Resources/assets/css/style.css">


</head>
<body class="bg-linear-gradiant">

	<div id="global-loader" style="display: none;">
		<div class="page-loader"></div>
	</div>

	<!-- Main Wrapper -->
	<div class="main-wrapper">

		<div class="container-fuild">
			<div class="w-100 overflow-hidden position-relative flex-wrap d-block vh-100">
				<div class="row justify-content-center align-items-center vh-100 overflow-auto flex-wrap ">
					<div class="col-md-4 mx-auto vh-100">
						<form action="~/Authenticate/ResetPassword" method="post" class="vh-100">
							@Html.HiddenFor(m => m.UserId)

							@Html.HiddenFor(m => m.OTPTrid)
							<div class="vh-100 d-flex flex-column justify-content-between p-4 pb-0">
								<div class=" mx-auto mb-5 text-center">
									<img src="~/Resources/assets/img/logo.png" class="img-fluid" alt="Logo">
								</div>
								<div class="">
									<div class="text-center mb-3">
										<h2 class="mb-2">Reset Password</h2>
										<p class="mb-0">
											Your new password must be different from previous used
											passwords.
										</p>
									</div>
									<div>
										<div class="input-block mb-3">
										
@* 
											<div class="form-group">
												<label class="form-label">
													Enter Passcode
													<span class="text-danger">*</span>
												</label>
												<input class="form-control btn-radius" name="emailOtp" value="@Model.emailOtp" type="text">
												@Html.ValidationMessageFor(m => m.emailOtp, null, new { @class = "text-danger" })
											</div> *@

											<div class="password-strength d-flex" id="passwordStrength">
												<span id="poor"></span>
												<span id="weak"></span>
												<span id="strong"></span>
												<span id="heavy"></span>
											</div>
											<div id="passwordInfo" class="mb-2"></div>
											<p class="fs-12">
												Use 8 or more characters with a mix of letters, numbers &
												symbols.
											</p>
										</div>
										<div class="col-12 text-left">
											<span class="text-danger">@ViewBag.ErrorMessage</span>
										</div>
										<div class="form-group">
											<label class="form-label">
												New Password
												<span class="text-danger">*</span>
											</label>
											<input id="password-field" class="form-control btn-radius" name="pword" value="@Model.pword" type="password">
											
											@Html.ValidationMessageFor(m => m.pword, null, new { @class = "text-danger" })



										</div>
										<div class="form-group">
											<label class="form-label">
												Confirm Password
												<span class="text-danger">*</span>
											</label>
											<input class="form-control btn-radius" name="cnfpword" value="@Model.cnfpword" type="password">
											@Html.ValidationMessageFor(m => m.cnfpword, null, new { @class = "text-danger" })
										</div>
										<div class="mb-3">
											<button type="submit" class="btn btn-primary w-100">Submit</button>
										</div>
									</div>
								</div>
								<div class="mt-5 pb-4 text-center">
									<p class="mb-0 text-gray-9">Copyright &copy; 2024 - Guardian InfoTech</p>
								</div>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- jQuery -->
	<script src="../Resources/assets/js/jquery-3.7.1.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="../Resources/assets/js/bootstrap.bundle.min.js"></script>

	<!-- Feather Icon JS -->
	<script src="../Resources/assets/js/feather.min.js"></script>

	<!-- Custom JS -->
	<script src="../Resources/assets/js/script.js"></script>
</body>



<!-- Mirrored from boxkeeps.com/boxkeeps/signin.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 21 Feb 2024 07:12:33 GMT -->
</html>